<div class="container">

    <button type="button" class="btn btn-info btn-block mt-2" (click)="createAccount()">Create New Account</button>

    <div class="form-group mt-2" *ngIf="accounts.length > 0">
        <label for="account-select">Accounts:</label>
        <select class="form-control" id="account-select" [(ngModel)]="selectedAccount">
          <option *ngFor="let account of accounts; let i = index" [ngValue]="account">{{account.name}}</option>
        </select>
    </div>



    <div class="card mt-3" *ngIf="selectedAccount">
        <div class="card-header">
            {{selectedAccount.address}}
            <div ngbDropdown class="account-dropdown">
                <button class="btn btn-link" ngbDropdownToggle><i class="fa fa-ellipsis-v"></i></button>
                <div ngbDropdownMenu>
                    <button class="dropdown-item" (click)="renameAccount(selectedAccount)"><i class="fa fa-pencil"></i> Rename</button>
                    <button class="dropdown-item" (click)="showPrivateKey(selectedAccount)"><i class="fa fa-eye"></i> PrivateKey</button>
                    <button class="dropdown-item" (click)="deleteAccount(selectedAccount)"><i class="fa fa-trash-o"></i> Delete</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Balance: <span class="text-success">{{blockchain.uni2SoftUni(getAccountBalance(selectedAccount)) | number:'1.0-5'}} SoftUni</span></h5>
            <hr>
            <form (ngSubmit)="sendTransaction(selectedAccount)" [formGroup]="fg">
                <div class="form-group">
                    <label>Recipient address</label>
                    <input required type="text" class="form-control" formControlName="recipient" [(ngModel)]="trxRecipient">
                </div>
                <div class="form-group">
                    <label>Amount</label>
                    <input required type="number" class="form-control" formControlName="amount" [(ngModel)]="trxAmount">
                </div>
                <button type="submit" [disabled]="!fg.valid" class="btn btn-primary">Send</button>
            </form>

            <table class="table mt-5">
                <thead>
                    <tr>
                        <th scope="col">TxHash</th>
                        <th scope="col">Block</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col" class="text-right">Amount</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tx of getAccountTxs(selectedAccount)">
                        <td>
                            <a title="{{tx.transactionHash}}" *ngIf="tx.transactionHash" href="{{env.blockExplorerUrl}}/transactions/{{tx.transactionHash}}" target="_blank">{{tx.transactionHash | slice:0:12}}...</a>
                        </td>
                        <td>
                            <a title="{{tx.blockHash}}" *ngIf="tx.blockHash" href="{{env.blockExplorerUrl}}/blocks/{{tx.blockHash}}" target="_blank">{{tx.blockHash | slice:0:12}}...</a>
                        </td>
                        <td>{{tx.timeCreated | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>
                            <a title="{{tx.from}}" *ngIf="tx.from" href="{{env.blockExplorerUrl}}/accounts/{{tx.from}}" target="_blank">{{tx.from | slice:0:12}}...</a>
                        </td>
                        <td>
                            <a title="{{tx.to}}" *ngIf="tx.to" href="{{env.blockExplorerUrl}}/accounts/{{tx.to}}" target="_blank">{{tx.to | slice:0:12}}...</a>
                        </td>
                        <td class="text-right">{{blockchain.uni2SoftUni(tx.amount) | number:'1.0-5'}} SoftUni</td>
                        <td>
                            <span *ngIf="tx.blockHash" class="badge badge-success">confirmed</span>
                            <span *ngIf="!tx.blockHash" class="badge badge-secondary">pending</span>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


</div>