<table class="table">
    <thead>
        <tr>
            <th scope="col">Block</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Difficulty</th>
            <th scope="col" class="text-right">Transactions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let block of blocks">
            <td>
                <a title="{{block.blockHash}}" [routerLink]="['/blocks', block.blockHash]">{{block.blockHash | slice:0:12}}...</a>
            </td>
            <td>{{block.timeCreated | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{block.difficulty | number}}</td>
            <td class="text-right"><a [routerLink]="['/blocks', block.blockHash, 'transactions']">{{block.transactions.length}}</a></td>
        </tr>
    </tbody>
</table>