<h4>Transaction information</h4>
<table class="table" *ngIf="transaction">
    <tr>
        <th>Transaction Hash</th>
        <td>{{transaction.transactionHash}}</td>
    </tr>
    <tr>
        <th>Block Hash</th>
        <td>
            <a [routerLink]="['/blocks', transaction.blockHash]">{{transaction.blockHash}}</a>
        </td>
    </tr>
    <tr>
        <th>From</th>
        <td>
            <a *ngIf="transaction.from" [routerLink]="['/accounts', transaction.from]">{{transaction.from}}</a>
        </td>
    </tr>
    <tr>
        <th>To</th>
        <td>
            <a [routerLink]="['/accounts', transaction.to]">{{transaction.to}}</a>
        </td>
    </tr>
    <tr>
        <th>Amount</th>
        <td>{{transaction.amount}}</td>
    </tr>
    <tr>
        <th>Timestamp</th>
        <td>{{transaction.timeCreated | date:'yyyy-MM-dd HH:mm:ss'}}</td>
    </tr>

</table>