<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item mx-2">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['blocks']">Blocks</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['transactions']">Transactions</a>
            </li>
        </ul>
        <!--
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Address / TxHash / Block" style="width:270px">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    -->
    </div>
</nav>